footer.art-footer
        p
            | Copyright © 2011-2012. All Rights Reserved. Icons by 
            a.external(href="http://3dlb.com") La Glanz Studio
            |  and 
            a.external(href="http://www.iconshock.com") Iconshock
            | .           