head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width")
    link(rel="stylesheet" href="stylesheets/style.css" media="screen")
    link(rel="stylesheet" href="stylesheets/style.custom.css" media="screen")
    link(rel="stylesheet" href="stylesheets/style.responsive.css" media="all")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    script(src="javascripts/jquery.js")
    script(src="javascripts/script.js")
    script(src="javascripts/script.responsive.js")
    script(src="javascripts/custom.scripts.js")
    style.
      .art-content .art-postcontent-0 .layout-item-0 { padding: 20px;  }
      .art-content .art-postcontent-0 .layout-item-1 { color: #292929; background: #F0F0F0;  }
      .art-content .art-postcontent-0 .layout-item-2 { color: #292929; padding: 20px;  }
      .art-content .art-postcontent-0 .layout-item-3 { color: #262626; background: #E5E5E5; padding: 20px;  }
      .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
      .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
