nav.art-nav
  .art-nav-inner
    ul.art-hmenu
      li
        a(class=`${home ? 'active' : ''}` href="home") Home
      li
        a(class=`${gear ? 'active' : ''}` href="gear") Gear               
      li
        a(class=`${contact ? 'active' : ''}` href="contact-us") Contact Us 