.container
    form(action='#' method='post')
        p
        | Want to wort at JavaJam? Fill out the form below to
        br
        |     &#x9;&#x9;&#x9;start your applicaton.
        label Name:&nbsp;
        input(name='myName' type='text')
        label E-mail:&nbsp;
        input(name='myEmail' type='text')
        label#experience Experience:&nbsp;
        textarea(name='myExperience' rows='2' cols='20' for='experience')  
        br
        button(type='submit' value='Apply Now') Apply Now
