.art-layout-cell.layout-item-2(style="width: 33%")
          h3(style="text-align:center;") Urgent Supply
          p(style="text-align: center;")
            img(width="150" height="150" alt="" src="/images/rims.png")
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Cras elit nisl, rhoncus nec iaculis ultricies.
          p(style="text-align: center;")
            a.art-button(href="/schedule") Read More