table
  thead
    tr
      th
      th
        span.day 1
        span.long Monday
        span.short Mon
      th
        span.day 2
        span.long Tuesday
        span.short Tue
      th
        span.day 3
        span.long Wendsday
        span.short We
      th
        span.day 4
        span.long Thursday
        span.short Thur
      th
        span.day.active 5
        span.long Friday
        span.short Fri
      th
        span.day 6
        span.long Saturday
        span.short Sat
      th
        span.day 7
        span.long Sunday
        span.short Sun
  tbody
    tr
      td.hour(rowspan='4')
        span 1:00
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum
        div.pl-2(style="margin-right: 15px; border-left: 5px solid yellow !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 2p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum         
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1:30p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
      td
      td
      td
    tr
      td
      td
      td
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid green !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1:45p - 3p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
      td
      td
      td
    tr
      td.hour(rowspan='4')
        span 2:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
      td
      td
      td
    tr
      td.hour(rowspan='4')
        span 3:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td.hour(rowspan='4')
        span 4:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td.hour(rowspan='4')
        span 5:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
      td
    tr
      td.hour(rowspan='4')
        span 6:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
        div.pl-2(style="margin-right: 15px; border-left: 5px solid red !important")
            span.row.font-weight-bold(style="margin-left:0px !important")
                | 1p - 6p 
            span.row(style="margin-left:0px !important")
                | Lorem ipsum 
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td.hour(rowspan='4')
        span 7:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td.hour(rowspan='4')
        span 8:00
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
    tr
      td
      td
      td
      td
      td
      td
      td
